<h1>Login</h1>

<%= form_with(url: login_path) do %>

  <% flash.each do |name, msg| %>
    <span style="color: red"><%= msg %></span>
  <% end %>

  <div class="fieldset">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
  <div class="fieldset">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag 'Login' %>
  </div>

<% end %>

<%= link_to 'Register', '/register' %>