<h1>Hello, <%= current_user.name %></h1>

<br/>

<% links = [
    {name: 'Create Subreddit', path: new_subreddit_path},
    {name: 'Find Subreddit', path: subreddits_path}
] %>

<%= render partial: "shared/navbar", locals: {nav_items: links} %>

<br/>
<div>
  <h2>Posts from Subreddits you joined</h2>
  <% @posts.each do |post| %>
    <div>
      <hr/>
      <h3><%= link_to post[:post].title, post_path(post[:post], {subreddit_id: post[:subreddit_id]}) %></h3>
      <h5>Date: <%= post[:post].created_at %></h5>
      <p><%= post[:post].description %></p>
      <hr/>
    </div>
  <% end %>
</div>