<h1>/r/<%= link_to @subreddit.name, @subreddit %></h1>
<p>
  <strong>Title:</strong>
  <%= @post.title %><br/>
  <strong>Date:</strong>
  <%= @post.created_at %>
</p>

<% links = [
    {name: 'Dashboard', path: dashboard_path},
]

   if @user.posts.include?(@post)
     links += [
         {name: 'Edit', path: edit_subreddit_post_path(@subreddit.id, @post)}
     ]
   end

   if user_signed_in?
     links += [
         {name: 'New Comment', path: new_comment_path(post_id: @post.id)}
     ]
   end
%>

<%= render partial: "shared/navbar", locals: {nav_items: links} %>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>