<%= render 'header' %>
<p>
  <strong>Title:</strong>
  <%= @post.title %><br/>
  <strong>Date:</strong>
  <%= @post.created_at %>
</p>

<% links = [
    {name: 'Dashboard', path: root_path},
]

   if current_user.present? && current_user.posts.include?(@post)
     links += [
         {name: 'Edit', path: edit_post_path(@post)}
     ]
   end
%>

<%= render partial: "shared/navbar", locals: {nav_items: links} %>

<p>
  <strong>Description:</strong>
  <%= sanitize @post.description %>
</p>

<div>
  <%= commontator_thread(@post) %>
</div>