<%= form_with(model: subreddit, local: true) do |form| %>
  <% if subreddit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subreddit.errors.count, "error") %> prohibited this subreddit from being saved:</h2>

      <ul>
        <% subreddit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 20, cols: 80 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
