<h1>r/<%= @subreddit.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @subreddit.description %>
</p>

<br/>
<div>
  <h2>Actions</h2>
  <% if @user %>
    <%= link_to 'Dashboard', dashboard_path %> |
    <%= link_to 'New Post', new_subreddit_post_path(subreddit_id: @subreddit.id) %> |
    <%= link_to 'Logout', logout_path %> |
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</div>

<br/>

<h2>Posts</h2>

<% @posts.each do |post| %>
  <div>
    <hr/>
    <h4><%= link_to post.title, subreddit_post_path(@subreddit.id, post) %></h4>
    <h5>Date: <%= post.created_at %></h5>
    <p><%= post.description %></p>
    <hr/>
  </div>
<% end %>

