<h1>r/<%= @subreddit.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @subreddit.description %>
</p>

<br/>
<% links = [
    {name: 'Dashboard', path: dashboard_path},
]

   if @subreddit.users.include? @user
     links += [
         {name: 'New Post', path: new_subreddit_post_path(subreddit_id: @subreddit.id)},
         {name: 'Leave Subreddit', path: leave_subreddit_path(@subreddit.name)}
     ]
   else
     links += [
         {name: 'Join Subreddit', path: join_subreddit_path(@subreddit.name)}
     ]
   end
%>

<%= render partial: "shared/navbar", locals: {nav_items: links} %>

<br/>

<h2>Posts</h2>

<% @posts.each do |post| %>
  <div>
    <hr/>
    <h3><%= link_to post.title, subreddit_post_path(@subreddit.id, post) %></h3>
    <h5>Date: <%= post.created_at %></h5>
    <p><%= post.description %></p>
    <hr/>
  </div>
<% end %>

