<h1>r/<%= @subreddit.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @subreddit.description %>
</p>

<br/>
<div>
  <h2>Actions</h2>
  <% if @user %>
    <%= link_to 'New Post', new_post_path(subreddit_id: @subreddit.id) %> |
    <%= link_to 'Logout', logout_path %> |
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
</div>

<br/>

<h2>Posts</h2>

<% @posts.each do |post| %>
  <%= link_to post.title, post %>
<% end %>

